@font-face {
    font-family: "GT-America-Extended-Bold";
    src: url("/fonts/GT-America-Extended-Bold.woff") format("woff");
    font-weight: bold;
  }

.theme-base-0d .sidebar {
    background-color: #2642fe;
}

.sidebar-about h1 {
    font-size: 2.5rem;
    font-family: GT-America-Extended-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-feature-settings: "dlig","liga","lnum","kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.theme-base-0d .content a {
    color: #2642fe;
}